<form #f="ngForm"
      (ngSubmit)="submit(f.value)">
    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label for="minSalary">Minimum Salary</label>
                <input required
                       id="minSalary"
                       min="0"
                       type="number"
                       class="form-control"
                       ngModel
                       name="minSalary"
                       #minSalary="ngModel">
                <div class="alert alert-danger"
                     *ngIf="minSalary.touched && !minSalary.valid">
                    <div *ngIf="minSalary.errors?.['required']">Minimum Salary is required</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="maxSalary">Maximum Salary</label>
                <input required
                       id="maxSalary"
                       type="number"
                       class="form-control"
                       ngModel
                       name="maxSalary"
                       #maxSalary="ngModel">
                <div class="alert alert-danger"
                     *ngIf="maxSalary.touched && !maxSalary.valid">
                    <div *ngIf="maxSalary.errors?.['required']">Maximum Salary is required</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="offset">Offset value</label>
                <input required
                       min="0"
                       id="offset"
                       type="number"
                       class="form-control"
                       ngModel
                       name="offset"
                       #offset="ngModel">
                <div class="alert alert-danger"
                     *ngIf="offset.touched && !offset.valid">
                    <div *ngIf="offset.errors?.['required']">Offset value is required</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="limit">Limit</label>
                <input required
                       min="0"
                       id="limit"
                       type="number"
                       class="form-control"
                       ngModel
                       name="limit"
                       #limit="ngModel">
                <div class="alert alert-danger"
                     *ngIf="limit.touched && !limit.valid">
                    <div *ngIf="limit.errors?.['required']">Limit value is required</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="orderby">Order by</label>
                <select ngModel
                        required
                        #orderby="ngModel"
                        class="form-control"
                        name="orderby"
                        id="orderby">
                    <option value=""></option>
                    <option *ngFor="let column of columns">
                        {{column}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="sort">Sort by</label>
                <select ngModel
                        required
                        #sort="ngModel"
                        class="form-control"
                        name="sort"
                        id="sort">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select>
                <button class="btn btn-primary"
                        [disabled]="f.invalid">Filter</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Login</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of results | paginate: {id: 'listing_pagination', itemsPerPage:5, currentPage:page,
        totalItems:totalRecords}">
            <td>{{result.id}}</td>
            <td>{{result.login}}</td>
            <td>{{result.name}}</td>
            <td>{{result.salary}}</td>
            <td>
                <button class="btn btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#editEmployee"
                        (click)="editEmployee(result)">Edit</button>
                <button type="button"
                        class="btn btn-outline-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteEmployee"
                        (click)="editEmployee(result)">
                    Delete
                </button>
                <!-- <button class="btn btn-outline-danger"
                        (click)="deleteEmployee(result)">Delete</button> -->
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade"
     id="deleteEmployee"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">Confirmation Prompt</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to delete the following employee data?
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary"
                        (click)="deleteEmployee()"
                        data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="editEmployee"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">Edit employee details</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="empDetail">
                    <div class="mb-3">
                        <label for="exampleInputEmail1"
                               class="form-label">Login </label>
                        <input type="text"
                               formControlName="name"
                               class="form-control"
                               id="name"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1"
                               class="form-label">Name </label>
                        <input type="text"
                               formControlName="login"
                               class="form-control"
                               id="login"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1"
                               class="form-label">Salary </label>
                        <input type="text"
                               formControlName="salary"
                               class="form-control"
                               id="email"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                        <button type="button"
                                class="btn btn-outline-success"
                                (click)="updateEmployee()"
                                data-bs-dismiss="modal">Update </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div>
    <pagination-controls id="listing_pagination"
                         (pageChange)="page = $event"></pagination-controls>
</div>